# gdb support
CONFIG_GDB_SCRIPTS=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_FRAME_POINTER=y

# sanitization
CONFIG_KASAN=y
CONFIG_KASAN_VMALLOC=y
CONFIG_UBSAN=y
CONFIG_DEBUG_VM=y
CONFIG_PROVE_RCU=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_DEBUG_STACKOVERFLOW=y
CONFIG_DETECT_HUNG_TASK=y
